<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Vendas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h2>Relatório de Vendas</h2>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ID Venda</th>
                    <th>Fruta</th>
                    <th>Quantidade</th>
                    <th>Desconto</th>
                    <th>Valor Final</th>
                    <th>Data e Hora</th>
                </tr>
            </thead>
            <tbody id="tabela-vendas">

            </tbody>
        </table>
    </div>
    <script src="../views/js/script.js"></script>
</body>

</html>